{% extends "base.html" %}

{% block content %}

			<br>

  
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{{ url_for('index')}}">Home</a>
      <a class="nav-item nav-link" href="{{ url_for('charts') }}">Dashboard</a>
      <a class="nav-item nav-link" href="{{ url_for('view_details') }}">View Data</a>
      <a class="nav-item nav-link" href="#"></a>
      <a class="nav-item nav-link" href="#"></a>
    </div>

</nav>
  </body>

   

<br>



<div class="painel-dados">
<p>Name of the file: <strong>{{ filename }}</strong></p>
	
<div>
	
	<p>{{ df_describe.to_html(table_id="enhaced-table") | safe }}</p>
</div>








</div>

{% endblock content %}

