{% extends "base.html" %}

{% block content %}
<br><br>
<div class="jumbotron jumbotron-fluid" style="padding-top: 25px;text-align: center">
  <div class="container">
    <h1>Flask Application | Superstore Sales </h1>      
  </div>
</div>

<div class="card">
  <img src="static/images/upload.png" alt="Avatar" style="width:15%;height:15%">
  <div class="container">
    <h4><b>Upload Files</b></h4>
    
	<form 
method=POST  
enctype=multipart/form-data 
action="{{ url_for('dataupload') }}"
	>
	<div class="form-group">
		<div class="custom-file">
			<input oninput="filesize(this);" type="file" name="csv_data" class="custom-file-input" >
			<label class="custom-file-label" for="csv_data">Choose a csv file...</label>
			
			
		
		</div>
	</div>
	<div class="wrapper">
    <input class="btn btn-info"  type="submit" value="Upload File"> 
  </div>
	</form>	
	
	
  </div>
</div>
			



{% endblock content %}
